<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
    <title>Контакты</title>
    <style>
        body {
            background: url(https://i.imgur.com/30eLasF.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .lead {
            font-size: x-large;
            font-weight: inherit;
        }
        .buttonsize{
            font-size: medium;
        }
    </style>
</head>
<body>
<header class="blog-header">
    <div class="text-center py-3">
        <a class="font-weight-bold px-2 btn btn-sm btn-outline-dark buttonsize" href="/#">МБУ СШ "ЧАЙКА"</a>
        <a class="font-weight-bold px-2 btn btn-sm btn-outline-dark buttonsize" href="/list_users">Гостевая книга</a>
        <a class="font-weight-bold px-2 btn btn-sm btn-outline-dark buttonsize" href="/history">История школы</a>
        <a class="font-weight-bold px-2 btn btn-sm btn-outline-dark buttonsize" href="/photos">Фотографии</a>
        <a class="font-weight-bold px-2 btn btn-sm btn-outline-dark buttonsize" href="/contacts">Контакты</a>
        <a class="font-weight-bold px-2 btn btn-sm btn-outline-dark buttonsize" href="/login">Авторизоваться</a>
        <a class="font-weight-bold px-2 btn btn-sm btn-outline-dark buttonsize" href="/signin">Зарегистрироваться</a>
    </div>
</header>
<div class="text-center custom-control-inline">
    <div class="py-3">
        <p class="lead mb-4 col-lg-10 mx-auto">
            Спорткомплекс "Ручные игры"
            г. Нижний Новгород, ул. Школьная, 32а
            тел/факс (831) 297 96 43
            email: chol-107@mail.ru
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2216.373546268094!2d43.85396469116277!3d56.25433060997638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaa8bbc394aa22906!2z0JzQkdCjINCU0J4g0JTQrtCh0KggItCn0JDQmdCa0JAi!5e0!3m2!1sru!2sru!4v1620734792624!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    </div>
    <div class="py-3">
        <p class="lead mb-4 col-lg-10 mx-auto">
            Спортшкола по волейболу
            г. Нижний Новгород, ул. Дворовая, 37
            тел/факс (831) 253 34 48
            email: voleibolschool19@mail.ru
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1107.82854763244!2d43.868791238587306!3d56.26670307892032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414e2a358a6b5483%3A0x8b6f9e22e836e522!2z0JTQrtCh0Kgg4oSWMTkgItCn0LDQudC60LAiINCa0LjQutCx0L7QutGB0LjQvdCzLiDQodC10LrRhtC40Y8g0L_QviDQutC40LrQsdC-0LrRgdC40L3Qs9GD!5e0!3m2!1sru!2sru!4v1620801148554!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
</body>
</html>