<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>История школы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
    <style>
        body {
            background: bisque;
            background-size: cover;
            background-repeat: no-repeat;
        }
        div.col-lg-10 {
        }
        p.lead {
            font-size: x-large;
            font-weight: normal;
        }
        h1.title {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="px-0 py-0">
    <h1 class="title">История школы</h1>
    <div class="col-lg-10 mx-auto">
        <p class="lead mb-2">ДЮСШ № 19 была создана 14 декабря 1999 года.
            Школа расположена в Автозаводском районе г. Нижнего Новгорода на улице Дворовая, дом 37. Школа имеет один большой  и два малых зала. В ДЮСШ обучаются дети и подростки с 8  лет.
            В ноябре 2011 г. в ведение ДЮСШ № 19 по волейболу был передан спорткомплекс «Ручные игры»  по адресу: Автозаводский район, ул.Школьная,  32А.  На спорткомплексе имеются: открытые волейбольные, и городошные площадки, теннисный корт, хоккейные коробки, закрытый городошный павильон, игровой спортзал, зал атлетической гимнастики. В 2015 году Муниципальное бюджетное образовательное учреждение дополнительного образования "Детско-юношеская спортивная школа № 19 по волейболу" была переименована в Муниципальное бюджетное учреждение дополнительного образования Детско-юношеская спортивная школа "ЧАЙКА". В октябре 2019г. перименована в МБУ "СШ "ЧАЙКА".
            В школе  обучаются около 700 учащихся,   34  группы разной возрастной категории. В спортивной школе работают отделения волейбола, художественной гимнастики, городошного спорта, кик-боксинга, велоспорта.  Учащиеся школы принимают активное участие в городских, областных, всероссийских и международных соревнованиях. Воспитанники СШ "ЧАЙКА" становятся победителями и призёрами соревнований различного уровня вплоть до международных.
            Учащиеся выполняют спортивные разряды вплоть до МС. Помимо обучения  в СШ "ЧАЙКА" по волейболу  уделяется большое внимание вопросам оздоровления детей. Каждый год организуются учебно-тренировочные сборы с выездом команд в спортивные лагеря и турбазы Нижегородской области.
            По мимо соревнований различного уровня, на базах СШ "ЧАЙКА" проводятся спортивные праздники, посвященные знаменательным датам и профессиональным праздникам а также физкультурно-оздоровительные мероприятия с населением.
            Благодаря бесплатному обучению, в школе имеет возможность заниматься каждый ребенок из семьи с любым доходом.
        </p>
    </div>
</div>
</body>
</html>