<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Авторизоваться</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>

    <style>
        body {
            background: bisque;
            background-size: cover;
            background-repeat: no-repeat;
        }
        main.form-signin {
            margin: auto;
            width: 30%;
            padding: 15% 0;
        }
    </style>
</head>
<body class="container text-center">
<h1 class="h3 mb-3 fw-normal">Авторизоваться</h1>

<div class="form-floating">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" autocomplete="off">
    <label for="floatingInput">Почта</label>
</div>
<div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="off">
    <label for="floatingPassword">Пароль</label>
</div>

<div class="checkbox mb-3">
    <label>
        <input type="checkbox" value="remember-me"> Не выходить из аккаунта
    </label>
</div>
<button class="w-100 btn btn-lg btn-primary" type="submit">Авторизоваться</button>
<p class="mt-5 mb-3 text-muted">© 2021</p>

<div id="wt-sky-root"></div></body>
</html>