<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация прошла успешно!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
    <style>
        body {
            background: url(https://i.imgur.com/30eLasF.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .buttonsize{
            font-size: medium;
        }
    </style>
</head>
<body>
<header class="blog-header">
    <div class="text-center py-3">
        <a class="font-weight-bold px-2 btn btn-sm btn-outline-dark buttonsize" href="/#">МБУ СШ "ЧАЙКА"</a>
        <a class="font-weight-bold px-2 btn btn-sm btn-outline-dark buttonsize" href="/list_users">Гостевая книга</a>
        <a class="font-weight-bold px-2 btn btn-sm btn-outline-dark buttonsize" href="/history">История школы</a>
        <a class="font-weight-bold px-2 btn btn-sm btn-outline-dark buttonsize" href="/photos">Фотографии</a>
        <a class="font-weight-bold px-2 btn btn-sm btn-outline-dark buttonsize" href="/contacts">Контакты</a>
        <a class="font-weight-bold px-2 btn btn-sm btn-outline-dark buttonsize" href="/login">Авторизоваться</a>
        <a class="font-weight-bold px-2 btn btn-sm btn-outline-dark buttonsize" href="/signin">Зарегистрироваться</a>
    </div>
</header>
<div class="container text-center">
    <div>
        <h3>Регистрация прошла успешно!</h3>
        <h4><a th:href="@{/login}">Нажмите здесь чтобы авторизоваться</a></h4>
    </div>
</div>
</body>
</html>